# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
dist

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
Dockerfile
docker-compose.yml
.eslintrc.js
.prettierrc
*.log

# Next.js build output
.next
out

# Misc
.DS_Store
.idea
.vscode
